@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import 'typography.css';


* {
			margin: 0;
			padding: 0;
			font-family: poppins;
		}


		nav {
			width: 100vw;
			height: 80px;
			background-color: #cb0909;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 4;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

		}

		main {
			width: 100vw;
			margin-top: 50px;
			z-index: 1;

		}

		section {
			width: 100%;
			height: 324px;
			margin: 0;
			position: relative;

		}


		nav section {
			height: 50px;

		}

		nav section .trigger_container {
			width: 10%;
			height: 50px;
			float: left;
			background-color: transparent;
			position: relative;
			display: none;

		}

		nav section .menus_container {
			width: 60%;
			height: 50px;
			float: right;
			background-color: transparent;
			position: relative;
		}

		nav section .logo_container {
			width: 10%;
			height: 50px;
			float: left;
			left: 3vw;
			margin-top: 0.5vh;
			background-color: transparent;
			position: relative;
		}

		nav section .icon_container {
			width: 10%;
			height: 50px;
			float: right;
			background-color: transparent;
			position: relative;
		}

		nav section a {
			margin-right: 20px;
			margin-top: 15px;
			color: white;
		}

		main {
			width: 100vw;
			margin-top: 50px;
			z-index: 1;

		}


		section#first {
			width: 100%;
			height: 324px;
			margin: 0;
			position: relative;
			background-image: url(../img/bannerhome.png);
			color: white;
		}



		section#second {
			width: 100%;
			background-color: #cb0909;
			height: 877px;
			position: relative;

		}

		section#second .containercontact {
			width: 100%;
			background-color: white;
			height: 127px;
			position: relative;
			margin-top: 0;

		}

		section#second .livechatsupport {
			width: 390px;
			height: 514px;
			position: relative;
			margin-top: 122px;
			margin-left: 321px;

		}

		section#second .livechatsupport .locationicon2 {
			width: 18px;
			height: 23px;
			background-image: url(../img/mappin.png);
			top: -195px;
			left: 10px;
			position: relative;

		}

		section#second .livechatsupport .phoneicon2 {
			width: 20px;
			height: 21px;
			background-image: url(../img/phonecall.png);
			top: -135px;
			left: 10px;
			position: relative;

		}

		section#second .livechatsupport .lineicon2 {
			width: 23px;
			height: 23px;
			background-image: url(../img/lineicon.png);
			top: -110px;
			left: 10px;
			position: relative;

		}

		section#second .livechatsupport .emailicon2 {
			width: 23px;
			height: 25px;
			background-image: url(../img/envelopeopen.png);
			top: -90px;
			left: 10px;
			position: relative;

		}

		section#second .phonecontainer {
			width: 381px;
			height: 651px;
			position: relative;
			right: -713px;
			top: -575px;
		}

		section#second .phonecontainer2 {
			display: none;
		}

		section#second .phonecontainer .phonecs {
			width: 319px;
			height: 651px;
			background-image: url(../img/phone.png);
			position: relative;
			float: right;
		}

		section#second .phonecontainer .line1 {
			width: 4px;
			height: 436px;
			background-image: url(../img/line1.png);
			position: relative;
			top: 120px;
			float: left;
		}

		section#second h2 {
				position: relative;
				font-weight: 400;
				font-size: 15px;
				line-height: 22.5px;
				width: 300px;
				text-align: left;
				color: white;
		}

		section#third {
			width: 100%;
			height: 718px;
			background-color: white;
			
		}

		section#third .footerimage {
			width: 1440px;
			height: 216px;
			background-image: url(../img/footerimage.png);
			position: absolute;
			margin-top: 107px;
		}

		section#third .map {
			width: 980px;
			height: 395px;
			top: 79px;
			left: 20vw;
			background-image: url(../img/map.png);
			position: relative;
		}

		section#third .map2 {
			display: none;
		}

		section#third .mapdesc {
			width: 256px;
			height: 278px;
			top: 130px;
			left: 15vw;
			background-image: url(../img/mapdesc.png);
			position: absolute;
			backdrop-filter: blur(7px);
		}


		section#fourth {
			width: 100%;
			height: 300px;
			background-color: #cb0909;
			position: absolute;
		}

		section#fourth .textcontainer {
			width: 121px;
			height: 191px;
			position: absolute;
			top: 40px;
			left: 185px;
		}

		section#fourth .textcontainer2 {
			width: 257px;
			height: 191px;
			position: absolute;
			top: 40px;
			left: 456px;
		}

		section#fourth .textcontainer3 {
			width: 121px;
			height: 150px;
			position: absolute;
			top: 76px;
			left: 592px;
		}

		section#fourth .textcontainer4 {
			width: 256px;
			height: 191px;
			position: absolute;
			top: 40px;
			left: 727px;
		}

		section#fourth .textcontainer5 {
			width: 265px;
			height: 123px;
			position: absolute;
			top: 40px;
			left: 995px;

		}

		section#fourth .textcontainer4 .locationicon {
			width: 18px;
			height: 23px;
			position: absolute;
			top: 40px;
			left: 0px;
			background-image: url(../img/mappin.png);
		}

		section#fourth .textcontainer4 .phoneicon {
			width: 20px;
			height: 21px;
			position: absolute;
			top: 100px;
			left: 0px;
			background-image: url(../img/phonecall.png);
		}

		section#fourth .textcontainer4 .lineicon {
			width: 23px;
			height: 23px;
			position: absolute;
			top: 130px;
			left: 0px;
			background-image: url(../img/lineicon.png);
		}

		section#fourth .textcontainer4 .emailicon {
			width: 23px;
			height: 25px;
			position: absolute;
			top: 160px;
			left: 0px;
			background-image: url(../img/envelopeopen.png);
		}

		section#fourth .textcontainer5 .googleplay {
			width: 130px;
			height: 43px;
			position: absolute;
			top: 30px;
			left: -3px;
			background-image: url(../img/googleplay.png);

		}

		section#fourth .textcontainer5 .appstore {
			width: 130px;
			height: 43px;
			position: absolute;
			top: 32px;
			left: 127px;
			background-image: url(../img/appstore.png);

		}

		section#fourth .textcontainer5 .facebook {
			width: 32px;
			height: 32px;
			position: absolute;
			top: 90px;
			left: 0px;
			background-image: url(../img/facebooklogo.png);

		}

		section#fourth .textcontainer5 .instagram {
			width: 32px;
			height: 32px;
			position: absolute;
			top: 90px;
			left: 47px;
			background-image: url(../img/instagramlogo.png);

		}

		section#fourth .textcontainer5 .linkedin {
			width: 32px;
			height: 32px;
			position: absolute;
			top: 90px;
			left: 94px;
			background-image: url(../img/linkedinlogo.png);

		}

		section#fourth .textcontainer5 .twitter {
			width: 32px;
			height: 32px;
			position: absolute;
			top: 90px;
			left: 141px;
			background-image: url(../img/twitterlogo.png);

		}

		section#fourth .textcontainer5 .youtube {
			width: 32px;
			height: 32px;
			position: absolute;
			top: 90px;
			left: 188px;
			background-image: url(../img/youtubelogo.png);

		}

		section#fourth h4 {
			color: white;
			font-family: Poppins;
			font-style: normal;
			font-weight: 600;
			font-size: 15px;
			line-height: 15px;
		}

		section#fourth h3 {
			color: white;
			font-family: Poppins;
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 25px;
		}


		h1 {
			
			font-family: poppins;
			position: relative;


		}


		#callc {
			height: 108px;
			  left: 1123px;
			  position: fixed;
			  bottom: 50px;
			  width: 278px;
			  z-index: 1;

		}
		
		#callc img {
			width: 100%;
		}

		.circle {
			width: 108px;
			height: 108px;
			background-image: url(../img/calcc.png);
			left: 90vw;
			z-index: 4;
			float: right;
   			margin-top: -112px;
   			position: fixed;
			bottom: 50px;
			display: none;

		}
		

		.banner {
			background-color: transparent;
			position: relative;
			float: left;
			padding-left: 4vw;
			margin-top: 2vw;
			font-weight: bold;
		}
		.banner2 {
			background-color: transparent;
			position: relative;
			float: left;
			padding-left: 4.3vw;
			margin-top: 2vw;
			font-weight: bold;
		}

		.banner3 {
			background-color: transparent;
			position: relative;
			float: left;
			padding-left: 4.3vw;
			margin-top: 2vw;
			font-weight: bold;
		}
		
		.banner4 {
			background-color: transparent;
			position: relative;
			float: left;
			padding-left: 4.3vw;
			margin-top: 2vw;
			font-weight: bold;
		}

		.banner5 {
			background-color: transparent;
			position: relative;
			float: left;
			padding-left: 4.3vw;
			margin-top: 2vw;
			font-weight: bold;
		}

		.banner6 {
			background-color: transparent;
			position: relative;
			float: left;
			padding-left: 4.3vw;
			margin-top: 2vw;
			font-weight: bold;
		}

		.banner7 {
			background-color: transparent;
			position: relative;
			float: left;
		}

		nav section .contacticon{
			width: 35px;
			height: 35px;
			background-image: url(../img/usercircle.png);
			float: right;
			position: relative;
			top: 23px;
			right: 78px;

		}

		nav section .searchicon{
			width: 35px;
			height: 35px;
			background-image: url(../img/magnifyingglass.png);
			float: right;
			position: relative;
			top: 23px;
			right: 50px;
		}




	@media (max-width: 700px) {

		section {

		}

		nav section .trigger_container {
			width: 40px;
			height: 40px;
			background-image: url(../img/hamburgermenu.png);
			display: block;
			float: left;
			left: 5vw;
			top: 3vh;
		}

		nav section .menus_container {
			position: fixed;
			width: 30vw;
			height: 100vh;
			top: 0;
			left: -100vw;
			z-index: 9999;
			transition: left 1s;
			background-color: #cb0910

		}

		nav section .menus_container .banner {
			width: 100%;
			padding-left: 25%;
			margin-top: 20%;
		
		}

		nav section .menus_container .banner2 {
			width: 100%;
			padding-left: 25%;
			margin-top: 10%;
		}

		nav section .menus_container .banner3 {
			width: 100%;
			padding-left: 25%;
			margin-top: 10%;
		}

		nav section .menus_container .banner4 {
			width: 100%;
			padding-left: 25%;
			margin-top: 10%;
		}

		nav section .menus_container .banner5 {
			width: 100%;
			padding-left: 25%;
			margin-top: 10%;
		}

		nav section .menus_container .banner6 {
			width: 100%;
			padding-left: 25%;
			margin-top: 10%;

		}

		nav section .menus_container #close_container {
			position: absolute;
			width: 10vw;
			height: 100vh;
			top: 0;
			left: 100%;
			background-color: #9f0000;

		}

		nav section .menus_container #close_container .close_button {
			width: 80%;
			height: 7vw;
			margin-top: 50%;
			margin-left: 15%;
			background-image: url(../img/x.png);
		}

		nav section .logo_container {
			width: 50%;
			margin-left: 5vw;
		}

		nav section .icon_container {
			width: 30%;
			margin-right: -4vw;
		}

		/*section 2*/

		section#second .livechatsupport {
			left: -45vw;
			top: -50px;
			width: 100vw;
		}

		section#second .phonecontainer {
			display: none;

		}

		section#second .phonecontainer2 {
			display: block;
			width: 370px;
			height: 337px;
			left: 12vw;
			top: -155px;
			background-image: url(../img/cs.png);
			position: relative;
			float: left;
		}

		section#second {
			height: 1000px;
		}

		section#third {
			height: 700px;
		}

		section#third .map {
			display: none;
		}

		section#third .map2 {
			display: block;
			width: 400px;
			height: 400px;
			top: 20px;
			left: 10vw;
			background-image: url(../img/map2.png);
			position: relative;
		}

		section#third .mapdesc {
			width: 256px;
			height: 278px;
			top: -90px;
			left: 23vw;
			background-image: url(../img/mapdesc.png);
			position: relative;
			backdrop-filter: blur(7px);
			float: left;
			z-index: 1;

		}

		section#third .footerimage {
			top: 390px;
			z-index: 0;
		}

		section#fourth {
			height: 490px;
		}

		section#fourth .textcontainer {
			left: 20vw;
			width: 30%;
		}

		section#fourth .textcontainer2 {
			left: 50vw;
			width: 70%;
		}

		section#fourth .textcontainer3 {
			left: 75vw;
		}

		section#fourth .textcontainer4 {
			left: 20vw;
			top: 250px;
			width: 100%;
		}

		/*call center*/


		#callc {
			height: 108px;
			  left: 43vw;
			  position: fixed;
			  bottom: 50px;
			  width: 278px;
			  z-index: 3;

		}

		#callc img {
			display: none;
		
		}

		.circle {
			width: 108px;
			height: 108px;
			background-image: url(../img/calcc.png);
			left: 77vw;
			z-index: 4;
			float: right;
   			margin-top: -112px;
   			position: fixed;
			bottom: 50px;
			display: block;

		}

	}
